*.la
*.lo
*.o
.*~
.deps
.dirstamp
.libs
aclocal.m4
apss.dat
autom4te.cache
compile
config.*
configure
depcomp
install-sh
ixpdimm-cli
ixpdimm-create-db
ixpdimm-monitor
libtool
ltmain.sh
m4
Makefile
Makefile.in
missing
stamp-h1
