[Unit]
Description=NVM Monitoring Service

[Service]
Type=forking
ExecStart=/usr/bin/ixpdimm-monitor -d
PIDFile=/var/run/ixpdimm-monitor.pid

[Install]
WantedBy=multi-user.target
